body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0;
    color: #333;
    line-height: 1.6;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}

h1, .caption, p {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
}

.content-table {
    border: 2px solid #ddd; 
    width: 100%;
    border-collapse: separate; 
    margin-top: 20px;
    border-spacing: 0; 
}

.content-table th, .content-table td {
    border: 1px solid #ddd; 
    text-align: left;
    padding: 8px;
    background-color: #fff; 
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
}

.content-table th {
    background-color: #4CAF50;
    color: #fff;
}

.content-table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

/* Adjustments for multimedia content in table cells */
.content-table td {
    height: 100px; /* Adjust height for video and image content */
}

/* Color Classes for List Items */
.black, .darkblue, .red, .darkgrey, .brightcyan, .brightmagenta {
    border-left: 5px solid;
    padding-left: 15px;
}

.black { border-color: #000; }
.darkblue { border-color: #00008B; }
.red { border-color: #F00; }
.darkgrey { border-color: #333; }
.brightcyan { border-color: #0FF; }
.brightmagenta { border-color: #F0F; }

.footer img {
    width: 100px; 
    height: auto;
    border-radius: 50%; /* Circular images */
    border: 3px solid white; /* White border for contrast */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    transition: transform 0.3s ease; 
}

.footer img:hover {
    transform: scale(1.1); 
}
